{% extends 'base/main.html' %}

{% block content %}
<div class="header-bar">
    <h1>My To Do List</h1>
    <div><a href="{% url 'create-task' %}">Add Task</a></div>

</div>

<div class="task-list-wrapper">
    {% for task in tasks %}
    <div class="task-wrapper" style="cursor: pointer;" onclick="window.location='{% url 'task' task.id %}'">
        {% if task.finished %}

        <div class="task-title">
            <div></div>
            <i><s><a >{{task}}</a></s></i>
        </div>
        <a href="{% url 'task-update' task.id %}">Edit</a>

        {% else %}
        <div class="task-title">
            <div></div>
            <a>{{task}}</a>
        </div>
        <a href="{% url 'task-update' task.id %}">Edit</a>
        {% endif %}
    </div>
    {% empty %}
    <div class="task-wrapper">
        Create your first task!
    </div>


    {% endfor %}
</div>

{% endblock content %}